<section class="w-full">
  <div
    *ngIf="modifyDateGroup"
    [formGroup]="modifyDateGroup"
    class="flex flex-col justify-between gap-y-2.5"
  >
    <span class="flex justify-between items-center">
      <label for="" class="ml-6.5 font-semibold text-[#334155]">Drug Id</label>
      <input pInputText type="text" />
    </span>
    <span class="flex justify-between items-center gap-x-2.5">
      <span class="flex gap-x-1.5">
        <p-checkbox [binary]="true" formControlName="expirationDate"></p-checkbox>
        <label for="" class="font-semibold text-[#334155]">Expiration Date </label>
      </span>
      <p-datepicker
        formControlName="modifyDate"
        [showIcon]="false"
        [showOnFocus]="false"
        placeholder="mm/dd/yyyy"
        dateFormat="mm/dd/yy"
        (onFocus)="preventPopup($event)"
        (onClick)="preventPopup($event)"
      ></p-datepicker>
    </span>
    <span class="flex justify-between items-center">
      <span class="flex gap-x-1.5">
        <p-checkbox [binary]="true" formControlName="stockLevel"></p-checkbox>
        <label for="" class="font-semibold text-[#334155]">Stock Level </label>
      </span>
      <p-datepicker formControlName="modifyDate"></p-datepicker>
    </span>
  </div>
  <div class="flex justify-center items-center mt-3.5 gap-x-2">
    <p-button>Update</p-button>
    <p-button styleClass="p-button-danger p-button-outlined">Cancel</p-button>
  </div>
</section>
