<div
  class="flex items-center justify-between px-6 py-4 border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-[#121212] text-black dark:text-white"
>
  <div class="flex items-center gap-4">
    <!-- <p-button [rounded]="true" [text]="true" severity="secondary" (click)="themeStore.toggleTheme()">
      <i [class]="themeStore.isDarkMode() ? 'pi pi-sun' : 'pi pi-moon'"></i>
    </p-button> -->
  </div>
  <div>
    <p-button label="Logout" severity="secondary" (onClick)="logout()">
      <i class="pi pi-sign-out"></i>
    </p-button>
  </div>
</div>
