<shared-panel-container titleLabel="Standing Order File Maintenance">
  <form [formGroup]="form" class="flex flex-col justify-start items-center gap-x-5">
    <p-fieldset legend="Standing Order Name">
      <section class="grid grid-cols-5 gap-5">
        <ng-container *ngFor="let i of [].constructor(25); let idx = index">
          <input
            type="text"
            pInputText
            [formControlName]="'field' + (idx + 1)"
            [readonly]="!isEdit && !isAddMode"
            class="w-28 px-2 py-1 rounded-md border border-gray-400 bg-white shadow-sm text-gray-800"
          />
        </ng-container>
      </section>
    </p-fieldset>
  </form>

  <section>
    <!-- Main control buttons -->
    <div class="flex justify-center items-center gap-x-4 mt-5" *ngIf="!isEdit && !isAddMode">
      <p-button (onClick)="addClicked()" icon="pi pi-plus" label="New"> </p-button>

      <p-button
        variant="outlined"
        severity="info"
        (onClick)="editClicked()"
        label="Update"
        icon="pi pi-pencil"
      >
      </p-button>

      <p-button
        variant="outlined"
        (onClick)="deleteClicked()"
        label="Delete"
        severity="danger"
        icon="pi pi-trash"
      >
      </p-button>
      <p-button
        (onClick)="cleanUpClicked()"
        label=" CleanUp STDORD"
        severity="danger"
        icon="pi pi-trash"
      >
      </p-button>
    </div>
    <div class="flex justify-center items-center gap-x-4 mt-5" *ngIf="isEdit || isAddMode">
      <p-button
        styleClass="text-sm border-yellow-500 text-yellow-600 hover:bg-yellow-50"
        variant="outlined"
        (onClick)="updateClicked()"
      >
        Update
      </p-button>
      <p-button
        styleClass="text-sm border-gray-500 text-gray-600 hover:bg-gray-50"
        variant="outlined"
        (onClick)="cancelClicked()"
      >
        Cancel
      </p-button>
    </div>
  </section>
</shared-panel-container>
