<h3 class="p-5 text-xl font-semibold" [shortcut]="'alt.p'" [shortcutKeyHint]="'p'">
  Print All Records
</h3>

<main class="flex flex-col justify-center items-center w-full gap-y-2">
  <form [formGroup]="departmentForm" (ngSubmit)="printForm()">
    <p-select
      [options]="departmentOptions"
      formControlName="department"
      optionLabel="name"
      optionValue="id"
      placeholder="Select a Department"
      class="w-full mb-10 flex justify-center items-center"
    />
    <section class="grid grid-cols-3 gap-x-8 gap-y-3">
      <shared-custom-input label="ID" placeholder="Id" type="text" formControlName="id">
      </shared-custom-input>
      <shared-custom-input
        label="Name"
        placeholder="Enter Name"
        type="text"
        formControlName="name"
      ></shared-custom-input>
      <shared-custom-input
        label="Address"
        placeholder="Enter Address"
        type="text"
        formControlName="address"
      ></shared-custom-input>
      <shared-custom-input
        label="City"
        placeholder="Enter City"
        type="text"
        formControlName="city"
      ></shared-custom-input>
      <shared-custom-input
        label="State"
        placeholder="Enter State"
        type="text"
        formControlName="state"
      ></shared-custom-input>
      <shared-custom-input
        label="Zip"
        placeholder="Enter Zip Code"
        type="text"
        formControlName="zip"
      ></shared-custom-input>
      <shared-custom-input
        label="Phone"
        placeholder="Enter Phone Number"
        type="text"
        formControlName="phone"
      ></shared-custom-input>
      <shared-custom-input
        label="Note"
        placeholder="Enter Note"
        type="text"
        formControlName="note"
      ></shared-custom-input>
      <shared-custom-input
        label="Cost Basis"
        placeholder="Enter Cost Basis"
        type="text"
        formControlName="cost_basis"
      ></shared-custom-input>
      <shared-custom-input
        label="Markup"
        type="text"
        placeholder="Enter Markup"
        formControlName="markup"
      ></shared-custom-input>
      <shared-custom-input
        label="Tax Flag"
        placeholder="Enter Tax Flag"
        type="text"
        formControlName="tax_flag"
      ></shared-custom-input>
    </section>
  </form>
  <div class="flex justify-end items-center gap-x-4 my-5 w-full mr-14">
    <p-button
      (click)="resetForm()"
      [shortcut]="'alt.a'"
      raised="true"
      styleClass="h-8 w-25"
      variant="outlined"
      >Add</p-button
    >
    <p-button
      [shortcut]="'alt.d'"
      severity="danger"
      raised="true"
      styleClass="h-8 w-25"
      variant="outlined"
      >Delete</p-button
    >
    <p-button [shortcut]="'alt.u'" severity="warn" styleClass="h-8 w-25" variant="outlined"
      >Update</p-button
    >
  </div>
</main>
