<shared-panel-container [title]="'Patient/Payor Type Maintenance'">
  <p-button
    label="Print All Records"
    icon="pi pi-print"
    variant="outlined"
    styleClass="my-2"
  ></p-button>

  <form [formGroup]="form" class="flex flex-col">
    <!-- Filter Dropdown -->
    <div class="w-[50%] pr-2 py-2">
      <p-select
        formControlName="selectedOption"
        [options]="dropdownOptions"
        optionLabel="name"
        placeholder="Choose an option"
        class="w-full"
      >
      </p-select>
    </div>

    <!-- Type, Name, Address, City -->
    <div class="grid grid-cols-4 gap-4 mt-4">
      <app-custom-input
        formControlName="idpay"
        label="Patient/Payor Type"
        placeholder="Enter Patient/Payor Type"
        pTooltip="Unique 4-digit ID for Payor"
      />
      <app-custom-input
        formControlName="nampay"
        label="Name"
        placeholder="Enter name"
        pTooltip="Payor full name"
      />
      <app-custom-input formControlName="iadpy" label="Address" placeholder="Enter address" />
      <app-custom-input formControlName="ictpy" label="City" placeholder="Enter city" />
      <app-custom-input formControlName="istpy" label="State" placeholder="Enter state" />
      <app-custom-input formControlName="izppy" label="Postal/ZIP Code" placeholder="Enter ZIP" />
      <app-custom-input formControlName="iphpy" label="Phone" placeholder="Enter phone number" />
      <app-custom-input formControlName="imspy" label="Note" placeholder="Enter a note" />
      <app-custom-input
        formControlName="ipycb"
        label="Charge Cost Basis"
        placeholder="AV, AW, CC or PC"
      />
      <app-custom-input
        formControlName="iccpy"
        label="Charge Class"
        placeholder="Enter charge class"
        pTooltip="Must match predefined class"
      />
      <div class="mt-8">
        <p-select
          formControlName="selectedOption"
          [options]="dropdownOptions"
          optionLabel="name"
          placeholder="Choose an option"
          class="w-full"
        >
        </p-select>
      </div>
    </div>

    <!-- Buttons -->
    <div class="flex justify-end gap-4 mb-1">
      <p-button label="Add" (onClick)="onAdd()" variant="outlined" severity="success" />
      <p-button label="Delete" (onClick)="onDelete()" variant="outlined" severity="danger" />
      <p-button label="Update" (onClick)="onUpdate()" variant="outlined" severity="info" />
    </div>
  </form>
</shared-panel-container>
