<shared-panel-container>
  <form [formGroup]="physician">
    <h1 class="mt-5 text-2xl font-semibold">Doctor File Maintenance</h1>

    <div class="flex items-start justify-between mt-3 mb-3 mr-5">
      <p-button label="Print" icon="pi pi-print" variant="outlined"></p-button>
    </div>

    <div class="mt-6 mb-3 w-full flex gap-2">
      <p-dropdown
        [options]="names"
        formControlName="selectedName"
        optionLabel="name"
        placeholder="Select Name"
        class="w-[220px]"
      ></p-dropdown>

      <div class="flex items-start ml-2 mt-2">
        <p-checkbox formControlName="isHidden" [binary]="true" inputId="hideCheckbox"></p-checkbox>
        <label for="hideCheckbox" class="ml-2 font-medium cursor-pointer">Hide</label>
      </div>
    </div>

    <div class="border border-grey-200 p-4.5 mt-5 rounded-md gap-4">
      <div class="grid grid-cols-4 gap-4">
        <app-custom-input label="ID" formControlName="id" placeholder="Enter ID" type="text"></app-custom-input>
        <app-custom-input label="Name" formControlName="name" placeholder="Enter Name" type="text"></app-custom-input>
        <app-custom-input label="Address" formControlName="address" placeholder="Enter Address" type="text"></app-custom-input>
        <app-custom-input label="City" formControlName="city" placeholder="Enter City" type="text"></app-custom-input>

        <app-custom-input label="State" formControlName="state" placeholder="Enter State" type="text"></app-custom-input>
        <app-custom-input label="Zip Code" formControlName="zip" placeholder="Enter Zip Code" type="text"></app-custom-input>
        <app-custom-input label="DEA NO" formControlName="DEA" placeholder="Enter DEA No" type="text"></app-custom-input>
        <app-custom-input label="Phone" formControlName="phone" placeholder="Enter Phone No" type="text"></app-custom-input>

        <app-custom-input label="ST License" formControlName="license" placeholder="Enter License No" type="text"></app-custom-input>
        <app-custom-input label="UPIN" formControlName="UPIN" placeholder="Enter UPIN" type="text"></app-custom-input>
        <app-custom-input label="NPI" formControlName="npi" placeholder="Enter NPI" type="text"></app-custom-input>
        <app-custom-input label="Medicare" formControlName="medicare" placeholder="Enter Medicare" type="text"></app-custom-input>

        <app-custom-input label="Medicaid" formControlName="medicaId" placeholder="Enter Medicaid" type="text"></app-custom-input>
        <app-custom-input label="Local ID" formControlName="localid" placeholder="Enter Local ID" type="text"></app-custom-input>

        <div class="flex items-center mt-7">
          <p-checkbox formControlName="isPrescriber" [binary]="true" inputId="prescriberCheckbox"></p-checkbox>
          <label for="prescriberCheckbox" class="ml-2 font-medium cursor-pointer">e-PRESCRIBER</label>
        </div>
      </div>
    </div>

    <div class="flex gap-4 mt-5 ml-14 justify-end">
      <p-button label="Add" severity="success" (click)="onAdd()" outlined type="button" icon="pi pi-plus"></p-button>
      <p-button label="Update" severity="info" (click)="onUpdate()" outlined type="button" icon="pi pi-check"></p-button>
      <p-button label="Delete" severity="danger" (click)="onDelete()" outlined type="button" icon="pi pi-trash"></p-button>
    </div>
  </form>
</shared-panel-container>
